10-node-red update external map service
[{"id":"9559dee958bd88e1","type":"group","z":"4db8466d6f729d2d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4faafe3dcd845914","dd70d44794eae7bb","8d4bd25870060f31","f56f5033d0b86649","61d007e1017c6a29","7b975877e4788307","95587d42d18ca4af","8131c6130c7ddf7a","505b0c4e14bb7fa7"],"x":1034,"y":439,"w":532,"h":302},{"id":"4faafe3dcd845914","type":"function","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"traccar-drone01","func":"// create random position\nvar server = \"http://localhost:8082\";\nvar id = \"drone01\";\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\nvar hdop = 25 + Math.random() * 3.9;\nvar altitude = 55 + Math.random() * 3.9;\nvar speed = 55 + Math.random() * 3.9;\nmsg.payload=server+\"?id=\"+id+\"&lat=\"+lat+\"&lon=\"+lon+\"&altitude=\"+altitude+\"&speed=\"+speed;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":560,"wires":[["7b975877e4788307","61d007e1017c6a29"]]},{"id":"dd70d44794eae7bb","type":"function","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"traccar-drone02","func":"// create random position\nvar server = \"http://localhost:8082\";\nvar id = \"drone02\";\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\nvar hdop = 25 + Math.random() * 3.9;\nvar altitude = 55 + Math.random() * 3.9;\nvar speed = 55 + Math.random() * 3.9;\nmsg.payload=server+\"?id=\"+id+\"&lat=\"+lat+\"&lon=\"+lon+\"&altitude=\"+altitude+\"&speed=\"+speed;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":600,"wires":[["7b975877e4788307"]]},{"id":"8d4bd25870060f31","type":"function","z":"4db8466d6f729d2d","d":true,"g":"9559dee958bd88e1","name":"traccar-drone03","func":"// create random position\nvar server = \"http://localhost:8082\";\nvar id = \"drone03\";\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\nvar hdop = 25 + Math.random() * 3.9;\nvar altitude = 55 + Math.random() * 3.9;\nvar speed = 55 + Math.random() * 3.9;\nmsg.payload=server+\"?id=\"+id+\"&lat=\"+lat+\"&lon=\"+lon+\"&altitude=\"+altitude+\"&speed=\"+speed;\nreturn msg;\n\n\n// http://tniot.cloud:5055/?id=tntracker01&lat=63.1212126&lon=12.4543345&hdop=55&altitude=55&speed=55","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":480,"wires":[["7b975877e4788307"]]},{"id":"f56f5033d0b86649","type":"function","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"traccar-person","func":"// create random position\nvar server = \"http://localhost:8082\";\nvar id = \"tnemsdoor01\";\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\nvar hdop = 1 + Math.random() * 3.9;\nvar altitude = 1 + Math.random() * 3.9;\nvar speed = 2 + Math.random() * 3.9;\nmsg.payload=server+\"?id=\"+id+\"&lat=\"+lat+\"&lon=\"+lon+\"&altitude=\"+altitude+\"&speed=\"+speed;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":660,"wires":[["7b975877e4788307","61d007e1017c6a29"]]},{"id":"61d007e1017c6a29","type":"debug","z":"4db8466d6f729d2d","d":true,"g":"9559dee958bd88e1","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":700,"wires":[]},{"id":"7b975877e4788307","type":"change","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":600,"wires":[["8131c6130c7ddf7a","95587d42d18ca4af"]]},{"id":"95587d42d18ca4af","type":"debug","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":540,"wires":[]},{"id":"8131c6130c7ddf7a","type":"http request","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","credentials":{},"x":1450,"y":640,"wires":[[]]},{"id":"505b0c4e14bb7fa7","type":"comment","z":"4db8466d6f729d2d","g":"9559dee958bd88e1","name":"TRACCAR","info":"","x":1280,"y":480,"wires":[]}]
