1_node-red-sorting-metadata-rssi.json
[{"id":"b3ccefd6.4ec89","type":"tab","label":"sortere etter RSSI","disabled":false,"info":""},{"id":"1b57bf1b.a307e1","type":"inject","z":"b3ccefd6.4ec89","name":"3 stk gw","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"app_id\":\"tnlpptest01\",\"dev_id\":\"tnlpptest99\",\"hardware_serial\":\"00F4BB18EC03E1EF\",\"port\":1,\"counter\":82,\"payload_raw\":\"BQIBkA==\",\"payload_fields\":{\"analog_in_5\":4},\"metadata\":{\"time\":\"2020-09-13T15:39:23.491304061Z\",\"frequency\":868.3,\"modulation\":\"LORA\",\"data_rate\":\"SF7BW125\",\"airtime\":51456000,\"coding_rate\":\"4/5\",\"gateways\":[{\"gtw_id\":\"eui-b827ebfffeaa37e1\",\"timestamp\":3662634707,\"time\":\"2020-09-13T15:39:22.462864Z\",\"channel\":1,\"rssi\":-60,\"snr\":10,\"rf_chain\":0,\"latitude\":63.374889,\"longitude\":10.712439,\"altitude\":150},{\"gtw_id\":\"eui-b827ebfffeaa37hh\",\"timestamp\":3662634707,\"time\":\"2020-09-13T15:39:22.462864Z\",\"channel\":1,\"rssi\":-55,\"snr\":5,\"rf_chain\":0,\"latitude\":63.401889,\"longitude\":10.712439,\"altitude\":150},{\"gtw_id\":\"eui-b827ebfffebcca3f\",\"timestamp\":3932093243,\"time\":\"2020-09-13T15:39:23.46387Z\",\"channel\":1,\"rssi\":-110,\"snr\":-10,\"rf_chain\":0,\"latitude\":63.39111,\"longitude\":10.799012,\"altitude\":15}]}}","payloadType":"json","x":220,"y":140,"wires":[["6a85bb35.875ce4"]]},{"id":"6a85bb35.875ce4","type":"change","z":"b3ccefd6.4ec89","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.metadata.gateways","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload^(rssi)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["50a4e243.9d184c"]]},{"id":"50a4e243.9d184c","type":"debug","z":"b3ccefd6.4ec89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]}]
