2_node-red-couchdb-cloudant-select-data-last-n-minutes-and-sum-a-value.json
[{"id":"1ceba7a7.e80cc8","type":"function","z":"94c4d41e.d7bca8","name":"setInterval","func":"\nlet d = new Date();\nlet endkey = new Date().toJSON();\n//console.log('Today is: ' + d.toLocaleString());\nd.setMinutes(d.getMinutes() -60); //use a flow value for interval_in_minutes\nlet startkey = d.toJSON();\n//let limit = \n\n//console.log(utcDate2);\n// expected output: Sun, 31 Dec 1899 00:00:00 GMT\n//msg.payload = d_utc;\n\n// msg.payload = {view: \"demo\", index: \"v_demo?descending=true\", limit:5};\n\nmsg.payload = {view: \"demo\", index: \"v_demo2?descending=true\",startkey: startkey, endkey: endkey, limit:200};\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":520,"wires":[["dde2f4f9.2e1468","34c622ec.43db1e"]]},{"id":"bb14f040.fbdcd","type":"inject","z":"94c4d41e.d7bca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["1ceba7a7.e80cc8"]]},{"id":"1a73afbe.fd54e","type":"debug","z":"94c4d41e.d7bca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"dde2f4f9.2e1468","type":"cloudantplus in","z":"94c4d41e.d7bca8","name":"","cloudant":"bfad9871.6b48d8","database":"<yourdb>","service":"ext","search":"view","design":"demo","index":"v_demo2","x":360,"y":600,"wires":[["1a73afbe.fd54e","5168f585.76eb1c"]]},{"id":"34c622ec.43db1e","type":"debug","z":"94c4d41e.d7bca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"162bf71f.7ff069","type":"debug","z":"94c4d41e.d7bca8","name":"SumMotion GT 0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":740,"wires":[]},{"id":"c596319a.aab8e","type":"function","z":"94c4d41e.d7bca8","name":"Sum_accMotion","func":"var data = msg.payload\nvar res;\nvar landSum = data.reduce(function(sum, d) {\n return sum + d.value;\n}, 0);\n\nmsg.payload = landSum;\nmsg.topic = {\"text\": \"No motion for your sensor last 60 minutes\" + landSum};\nreturn msg;\n\n// example from: http://learnjsdata.com/iterate_data.html","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":620,"wires":[["112aa3b2.2066fc","327de1c0.7551de"]]},{"id":"112aa3b2.2066fc","type":"debug","z":"94c4d41e.d7bca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"5168f585.76eb1c","type":"delay","z":"94c4d41e.d7bca8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":680,"wires":[["c596319a.aab8e"]]},{"id":"e61bbf48.a7c97","type":"http request","z":"94c4d41e.d7bca8","name":"Send SLACK","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://hooks.slack.com/services/<your  config>","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":680,"wires":[[]]},{"id":"77a738eb.bed0e8","type":"change","z":"94c4d41e.d7bca8","name":"SumMotion EQ 0","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":620,"wires":[["e61bbf48.a7c97"]]},{"id":"327de1c0.7551de","type":"switch","z":"94c4d41e.d7bca8","name":"Check_accMotionSum","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":700,"wires":[["77a738eb.bed0e8"],["162bf71f.7ff069"]]},{"id":"bfad9871.6b48d8","type":"cloudantplus","host":"<your host>-bluemix.cloudant.com","name":"<yourdb>"}]