6_node-red-conditional-formatting_download2csv.json
[{"id":"a11a9e07f1787e95","type":"ui_table","z":"cd326b3aa9e0175e","group":"13b35473.20565c","name":"","order":6,"width":"24","height":"10","columns":[],"outputs":0,"cts":false,"x":730,"y":80,"wires":[]},{"id":"8bc834bb230f071c","type":"ui_button","z":"cd326b3aa9e0175e","name":"","group":"13b35473.20565c","order":5,"width":"3","height":"1","passthru":false,"label":"clear table","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"NULL","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":80,"wires":[["a11a9e07f1787e95"]]},{"id":"a2b63a02a180bf42","type":"ui_button","z":"cd326b3aa9e0175e","name":"","group":"13b35473.20565c","order":1,"width":"3","height":"1","passthru":false,"label":"download to csv","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"msg.ui_control = {\"tabulator\":{\"command\":\"download\",\"arguments\":[{\"type\": \"csv\",\"name\": \"feeder41.csv\"}]}}","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":200,"wires":[["fe183631c5f5b11f"]]},{"id":"fe183631c5f5b11f","type":"change","z":"cd326b3aa9e0175e","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"command\":\"download\",\"arguments\":[\"csv\",\"data.csv\",{\"delimiter\":\",\"}],\"returnPromise\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["e90305797e8b1293"]]},{"id":"879e2438ad2dfa1e","type":"debug","z":"cd326b3aa9e0175e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"e90305797e8b1293","type":"change","z":"cd326b3aa9e0175e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ui_control","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["a11a9e07f1787e95","879e2438ad2dfa1e"]]},{"id":"12dd43dbb9ae69a8","type":"change","z":"cd326b3aa9e0175e","name":"formater tabell_cond_colors","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Id\",\"field\":\"incidentId\",\"headerFilter\":\"input\",\"width\":22,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Name\",\"field\":\"incidentName\",\"headerFilter\":\"input\",\"width\":444,\"frozen\":true},{\"formatterParams\":{\"inputFormat\":\"YYYY-MM-DD HH:mm:ss.SSS\",\"outputFormat\":\"YYYY-MM-DD HH:mm:ss\",\"invalidPlaceholder\":\"(invalid time)\"},\"title\":\"createdTime\",\"field\":\"createdTime\",\"headerFilter\":\"input\",\"width\":99,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"classification\",\"headerFilter\":\"input\",\"width\":99,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"URL\",\"field\":\"incidentUri\",\"headerFilter\":\"input\",\"width\":33,\"formatter\":\"link\",\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Severity\",\"field\":\"sev\",\"headerFilter\":\"input\",\"width\":99,\"align\":\"center\",\"formatter\":\"function(cell, formatterParams, onRendered){var sev = cell.getValue(); switch(cell.getValue()) {case 'Low': cell.getElement().style.backgroundColor=\\\"#66ff66\\\"; break;case 'Informational': cell.getElement().style.backgroundColor=\\\"#6699ff\\\"; break;case 'Medium': cell.getElement().style.backgroundColor=\\\"#ff9933\\\"; break;case 'High': cell.getElement().style.backgroundColor=\\\"#ff0000\\\"; break;} return sev;}\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Status\",\"field\":\"status\",\"headerFilter\":\"input\",\"width\":99,\"align\":\"center\",\"formatter\":\"function(cell, formatterParams, onRendered) {var status = cell.getValue(); if(status == 'Active') {cell.getElement().style.color=\\\"red\\\";}else{cell.getElement().style.color=\\\"green\\\";} return status;}\"}]},\"customHeight\":100,\"movableColumns\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["a11a9e07f1787e95"]]},{"id":"c75e0150823d9b32","type":"ui_button","z":"cd326b3aa9e0175e","name":"","group":"13b35473.20565c","order":7,"width":"10","height":"1","passthru":false,"label":"Load demodata","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"[{\"incidentName\":\"User and IP address reconnaissance (SMB) on one endpoint\",\"incidentId\":88857,\"createdTime\":\"2021/07/21 888:43:24 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88857demo8882c8809f-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Active\",\"sev\":\"Medium\",\"alert-title\":\"User and IP address reconnaissance (SMB)\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88860,\"createdTime\":\"2021/07/22 00:04:35 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88860demo8882c8809f-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Active\",\"sev\":\"Low\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88858,\"createdTime\":\"2021/07/22 00:04:30 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88858demo8882c8809f-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88859,\"createdTime\":\"2021/07/22 00:04:33 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88859demo8882c8809f-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"'Creprote' unwanted software was prevented on one endpoint\",\"incidentId\":88842,\"createdTime\":\"2021/07/18 17:50:32 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"TruePositive\",\"incidentUri\":\"https://demo.demo/i/88842demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Informational\",\"alert-title\":\"'Creprote' unwanted software was prevented\"},{\"incidentName\":\"'Vigram' malware was prevented on one endpoint\",\"incidentId\":88843,\"createdTime\":\"2021/07/18 23:00:34 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"TruePositive\",\"incidentUri\":\"https://demo.demo/i/88843demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Informational\",\"alert-title\":\"'Vigram' malware was prevented\"},{\"incidentName\":\"'AskToolbar' unwanted software was prevented on one endpoint\",\"incidentId\":88844,\"createdTime\":\"2021/07/19 05:50:48 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"TruePositive\",\"incidentUri\":\"https://demo.demo/i/88844demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"'AskToolbar' unwanted software was prevented\"},{\"incidentName\":\"'Vigua' unwanted software was prevented on one endpoint\",\"incidentId\":88853,\"createdTime\":\"2021/07/20 21:27:23 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"TruePositive\",\"incidentUri\":\"https://demo.demo/i/88853demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Informational\",\"alert-title\":\"'Vigua' unwanted software was prevented\"},{\"incidentName\":\"Suspicious network connection over Encrypting File System Remote Protocol on one endpoint\",\"incidentId\":88847,\"createdTime\":\"2021/07/19 23:12:44 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"InformationalExpectedActivity\",\"incidentUri\":\"https://demo.demo/i/88847demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Suspicious network connection over Encrypting File System Remote Protocol\"},{\"incidentName\":\"Suspicious network connection over Encrypting File System Remote Protocol on one endpoint\",\"incidentId\":88845,\"createdTime\":\"2021/07/19 20:22:34 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"InformationalExpectedActivity\",\"incidentUri\":\"https://demo.demo/i/88845demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Suspicious network connection over Encrypting File System Remote Protocol\"},{\"incidentName\":\"Suspicious network connection over Encrypting File System Remote Protocol on one endpoint\",\"incidentId\":88846,\"createdTime\":\"2021/07/19 23:02:31 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"InformationalExpectedActivity\",\"incidentUri\":\"https://demo.demo/i/88846demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Suspicious network connection over Encrypting File System Remote Protocol\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88848,\"createdTime\":\"2021/07/20 00:46:59 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88848demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88852,\"createdTime\":\"2021/07/20 00:48:00 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88852demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88851,\"createdTime\":\"2021/07/20 00:47:02 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88851demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88849,\"createdTime\":\"2021/07/20 00:47:02 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88849demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88850,\"createdTime\":\"2021/07/20 00:47:02 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88850demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88854,\"createdTime\":\"2021/07/20 22:06:20 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88854demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88855,\"createdTime\":\"2021/07/20 22:06:32 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88855demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88856,\"createdTime\":\"2021/07/20 22:06:49 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88856demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88840,\"createdTime\":\"2021/07/18 11:12:32 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88840demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88838,\"createdTime\":\"2021/07/18 11:12:25 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88838demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88837,\"createdTime\":\"2021/07/18 11:12:24 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88837demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88841,\"createdTime\":\"2021/07/18 11:12:35 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88841demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88839,\"createdTime\":\"2021/07/18 11:12:32 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88839demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"High\",\"alert-title\":\"Cloud Discovery anomaly detection\"},{\"incidentName\":\"Security principal reconnaissance (LDAP) on one endpoint\",\"incidentId\":88836,\"createdTime\":\"2021/07/18 03:08:08 GMT+01:00\",\"assignedTo\":null,\"classification\":\"Unknown\",\"incidentUri\":\"https://demo.demo/i/88836demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Active\",\"sev\":\"Medium\",\"alert-title\":\"Security principal reconnaissance (LDAP)\"},{\"incidentName\":\"Cloud Discovery anomaly detection\",\"incidentId\":88832,\"createdTime\":\"2021/07/17 08:09:22 GMT+01:00\",\"assignedTo\":\"demo.demo@demo.demo.demo\",\"classification\":\"FalsePositive\",\"incidentUri\":\"https://demo.demo/i/88832demo888-91e0-445b-804f-b6a7b43ef73a\",\"status\":\"Resolved\",\"sev\":\"Medium\",\"alert-title\":\"Cloud Discovery anomaly detection\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":140,"wires":[["12dd43dbb9ae69a8"]]},{"id":"fac9ad0dc7f3e282","type":"change","z":"cd326b3aa9e0175e","name":"formater tabell_cond_colors","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"incidentId\",\"field\":\"incidentId\",\"headerFilter\":\"input\",\"width\":22,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"incidentName\",\"field\":\"incidentName\",\"headerFilter\":\"input\",\"width\":444,\"frozen\":true},{\"formatterParams\":{\"inputFormat\":\"YYYY-MM-DD HH:mm:ss.SSS\",\"outputFormat\":\"YYYY-MM-DD HH:mm:ss\",\"invalidPlaceholder\":\"(invalid time)\"},\"title\":\"createdTime\",\"field\":\"createdTime\",\"headerFilter\":\"input\",\"width\":99,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"assignedTo\",\"field\":\"assignedTo\",\"headerFilter\":\"input\",\"width\":99,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"classification\",\"field\":\"classification\",\"headerFilter\":\"input\",\"width\":99,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"incidentUri\",\"field\":\"incidentUri\",\"headerFilter\":\"input\",\"width\":33,\"formatter\":\"link\",\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"altert-title\",\"field\":\"alert-title\",\"headerFilter\":\"input\",\"width\":99,\"align\":\"left\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"sev\",\"field\":\"sev\",\"headerFilter\":\"input\",\"width\":99,\"align\":\"center\",\"formatter\":\"function(cell, formatterParams, onRendered){var sev = cell.getValue(); switch(cell.getValue()) {case 'Low': cell.getElement().style.backgroundColor=\\\"#66ff66\\\"; break;case 'Informational': cell.getElement().style.backgroundColor=\\\"#6699ff\\\"; break;case 'Medium': cell.getElement().style.backgroundColor=\\\"#ff9933\\\"; break;case 'High': cell.getElement().style.backgroundColor=\\\"#ff0000\\\"; break;} return sev;}\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"status\",\"field\":\"status\",\"headerFilter\":\"input\",\"width\":99,\"align\":\"center\",\"formatter\":\"function(cell, formatterParams, onRendered) {var status = cell.getValue(); if(status == 'Active') {cell.getElement().style.Color=\\\"red\\\";}else{cell.getElement().style.Color=\\\"blue\\\";} return status;}\"}]},\"customHeight\":100}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[[]]},{"id":"13b35473.20565c","type":"ui_group","name":"Default","tab":"de4df751.046f08","order":3,"disp":false,"width":"24","collapse":false},{"id":"de4df751.046f08","type":"ui_tab","name":"tn_ui_table_demo","icon":"track_changes","order":1,"disabled":false,"hidden":false}]