7_node-red-udemy courses to csv file
[{"id":"d92e85150ec49350","type":"tab","label":"udemy","disabled":false,"info":"","env":[]},{"id":"c68344f30f172eea","type":"inject","z":"d92e85150ec49350","name":"udemy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"How to Create an Online Course: The Official Udemy Course\",\"course\":\"official-udemy-create-course\",\"dato\":\"2023\"},{\"title\":\"The Things Academy: Understand LoRaWAN ® Fundamentals\",\"course\":\"lorawan-fundamentals\",\"dato\":\"2021\"},{\"title\":\"Understanding CouchDB 3: Learn Basic & Advanced NoSQL Skills\",\"course\":\"understanding-couchdb\",\"dato\":\"2020\"},{\"title\":\"Vue - The Complete Guide (incl. Router & Composition API)\",\"course\":\"vuejs-2-the-complete-guide\",\"dato\":\"2019\"}]","payloadType":"json","x":250,"y":180,"wires":[["3937785e7c85787f"]]},{"id":"136403f7ce130416","type":"ui_table","z":"d92e85150ec49350","group":"8a8c829e.87efe","name":"","order":1,"width":"14","height":"10","columns":[],"outputs":0,"cts":false,"x":890,"y":260,"wires":[]},{"id":"21f42df80297e119","type":"ui_button","z":"d92e85150ec49350","name":"","group":"8a8c829e.87efe","order":3,"width":"3","height":"1","passthru":false,"label":"download to csv","tooltip":"","color":"","bgcolor":"","icon":"","payload":"msg.ui_control = {\"tabulator\":{\"command\":\"download\",\"arguments\":[{\"type\": \"csv\",\"name\": \"feeder41.csv\"}]}}","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":420,"wires":[["3a989c2ef12c70f0"]]},{"id":"3a989c2ef12c70f0","type":"change","z":"d92e85150ec49350","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"command\":\"download\",\"arguments\":[\"csv\",\"m365f12harvest.csv\",{\"delimiter\":\",\"}],\"returnPromise\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["f54b66e32469f8e5"]]},{"id":"f54b66e32469f8e5","type":"change","z":"d92e85150ec49350","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ui_control","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":260,"wires":[["136403f7ce130416"]]},{"id":"3937785e7c85787f","type":"change","z":"d92e85150ec49350","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results.{\t  'title': title,\t  'published_title': published_title,\t  'enrollment_time': enrollment_time\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["c76b874a67a793a0","136403f7ce130416"]]},{"id":"c76b874a67a793a0","type":"debug","z":"d92e85150ec49350","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"216627e579fcc9d3","type":"ui_button","z":"d92e85150ec49350","name":"","group":"8a8c829e.87efe","order":6,"width":"3","height":"1","passthru":false,"label":"clear buffer","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"NULL","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":40,"wires":[["8c4280165f982fcd"]]},{"id":"8c4280165f982fcd","type":"ui_text_input","z":"d92e85150ec49350","name":"paste data","label":"paste your Udemy response here","tooltip":"","group":"8a8c829e.87efe","order":4,"width":"11","height":"1","passthru":true,"mode":"text","delay":"100","topic":"topic","topicType":"msg","x":330,"y":40,"wires":[["1809695de3a3d282"]]},{"id":"c4e068e3b8c43520","type":"ui_button","z":"d92e85150ec49350","name":"","group":"8a8c829e.87efe","order":5,"width":"3","height":"1","passthru":false,"label":"clear table","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"NULL","payloadType":"str","topic":"topic","topicType":"msg","x":790,"y":140,"wires":[["136403f7ce130416"]]},{"id":"1809695de3a3d282","type":"json","z":"d92e85150ec49350","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":80,"wires":[["3937785e7c85787f"]]},{"id":"8a8c829e.87efe","type":"ui_group","name":"MY_NODE-RED","tab":"4620e7e3.4dd838","order":3,"disp":true,"width":"14","collapse":false},{"id":"4620e7e3.4dd838","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
